.DS_Store
bin/clion
bin/dmenu-mac
bin/float_term
bin/ide
bin/micro
bin/neovide
bin/nvui
bin/rm_neovim
bin/rust-analyzer
bin/sketychbar
bin/start_docker
bin/start_git
bin/studio
bin/taplo
bin/todo
bin/yabai
bin/yt
libexec/
share/.DS_Store
share/Trash/
share/cargo/
share/fish/
share/flutter/
share/go/
share/nvim/
share/nvui/
share/ranger/
share/rustup/
share/wezterm/
share/yarn/
src/
state/
var/
share/fonts.*

share/flutter.bak
share/tridactyl
bin/marksman
bin/change_theme
bin/dark_mode
share/lf/tags